.contact-type-filters{
    width:100px;
    padding:20px;
}
.contact-main-container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 1110px;
    text-align: center;
}
.contact-type-filters-container{
    display: flex;
    justify-content: flex-end;
}
.all-contacts-heading{
    text-align: center;
}
.contacts-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
